.row {
  color: white !important;
}

#logo {
  color: white;
  font-weight: lighter;
}

#left {
  height: 100vh;
  position: relative;
  background-color: rgb(65, 170, 255) !important;
}

#right {
  height: 100vh;
  position: relative;
  background-color: rgb(20, 150, 255) !important;
}

#left-content {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#right-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.key-points {
  margin-top: 16px !important;
}

#signup-link {
  color: white;
}

#login-btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

#login-btn:hover {
  background-color: rgb(65, 170, 255);
  border: 1px solid rgb(65, 170, 255);
}
